# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://bjulbxkvpsbgwwwcenrt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_rH7wzT3zFdAZSycyLGIPKg_hOR-5JT2
SUPABASE_URL=https://bjulbxkvpsbgwwwcenrt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_API_URL=https://vedaapex-saas-ai.onrender.com
VITE_API_BASE_URL=https://vedaapex-saas-ai.onrender.com
AI_BRAIN_API_URL=https://vedaapex-saas-ai.onrender.com

